<?xml version = "1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="LogoP" value="\\192.168.21.126\Publico\DevTEC-AL-0001\image\logo\PROMO NAVIDAKA 1,4CM X 1,4CM-01.png" />
		<add key="LogoG" value="\\192.168.21.126\Publico\DevTEC-AL-0001\image\logo\PROMO NAVIDAKA 1,4CM X 1,4CM-01.png" />
	</appSettings>
</configuration>